<div class="content" style="display: block;">
<p><strong> Step 1: </strong> Unroll your&nbsp;mat.</p>
<p><strong> Step 2: </strong> Select your favorite flattening&nbsp;solution...</p>
<div class="steps_options_container">
<div class="option option_steamer_icon">
<p>Option 1:</p>
<p class="option_description">Smooth and flatten wrinkles with a clothing&nbsp;steamer</p>
</div>
<div class="option option_iron_icon">
<p>Option 2:</p>
<p class="option_description">Lightly spritz creaser with water. Then, iron on a low setting to produce&nbsp;steam</p>
</div>
<div class="option option_flatten_icon">
<p>Option 3:</p>
<p class="option_description">Place heavy objects (e.g books) to flatten mat to the&nbsp;group</p>
</div>
</div>
<p><strong> Step 3: </strong> Let mat cool/dry if applicable. Then, begin golf&nbsp;practice!</p>
</div>