<style>
  .removeOverflow {
      overflow: initial;
  }
  .see-it-in-action-video {
    position: absolute;
    left: -67%;
    bottom: 90px;
    border-radius: 5px;
    padding: 12px 25px;
  }
  .videoContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .videoContainer .video-content {
    position: relative;
    height: 70vh;
    width: 70vw;
  }
  .videoContainer .video-content .fancybox-close-small {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #ccc;
    cursor: pointer;
    opacity: .8;
    padding: 8px;
    position: absolute;
    right: -12px;
    top: -44px;
    z-index: 401;
    padding: 0;
    top: -56px;
  }
  .videoContainer .video-content iframe {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 500px) {
    .removeOverflow{
      margin-bottom: 85px;
    }
  }

</style>
<button class="see-it-in-action-video">
    <span class="pdp-video-cta__icon"> </span>
    <span class="see-it-in-action-text"> SEE IT IN ACTION </span>
</button>
<div class="videoContainer">
    <div class="video-content">
      <button type="button" class="fancybox-button fancybox-close-small qaz" title="Close"><svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="Shape" fill="#FFFFFF" points="38 12.82 35.18 10 24 21.18 12.82 10 10 12.82 21.18 24 10 35.18 12.82 38 24 26.82 35.18 38 38 35.18 26.82 24"></polygon></svg></button>
      <iframe class="video-pdp" src="https://youtube.com/embed/kUBUikJY-RM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
    </div>
</div>
<script>
  const videoContainer = document.querySelector('.videoContainer');
  const pdpIframe = videoContainer.querySelector('iframe');
  const pdpVideoSrc = new URL('https://www.youtube.com/watch?v=kUBUikJY-RM');
  const videoParameters = new URLSearchParams(pdpVideoSrc.search);
  
  const interval = setInterval(() => {
    const seeItInActionButton = document.querySelector('.see-it-in-action-video');
    const singleMediaGroup = document.querySelector('.grid__item.product-single__media-group');
    const checkTemplate = document.querySelector('.product-thumbnail__image'); 
    
    if(seeItInActionButton && (singleMediaGroup.classList.contains('slick-initialized') || singleMediaGroup.querySelector('.product-main__image.swiper-initialized'))){
      seeItInActionButton.classList.remove('hide');
      if(pdpVideoSrc) {
        seeItInActionButton.addEventListener('click', () => {
          videoContainer.classList.add('showPDPVideo');
          pdpIframe.src = `https://youtube.com/embed/${videoParameters.get('v')}`;
        });
        videoContainer.addEventListener('click', () => {
          videoContainer.classList.remove('showPDPVideo');
          pdpIframe.src = `https://youtube.com/embed/${videoParameters.get('v')}`;
        });
      }
      
      if(!checkTemplate) {
        singleMediaGroup.append(seeItInActionButton);
        singleMediaGroup.classList.add('removeOverflow');
        document.querySelectorAll('.slick-next.slick-arrow, .slick-prev.slick-arrow').forEach((element) => element.classList.add('hide'));
      }
      
      clearInterval(interval);
    }
  }, 50);
</script>