<style>
  .removeOverflow {
      overflow: initial;
  }
  .see-it-in-action-video {
    position: absolute;
    left: -67%;
    bottom: 90px;
    border-radius: 5px;
    padding: 12px 25px;
  }
  .see-it-in-action-video .pdp-video-cta__icon::after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-left-color: #0e272d;
    border-top-width: 7px;
    border-bottom-width: 7px;
    -webkit-transform: translate(-3px, -50%);
    transform: translate(-3px, -50%);
    margin-top:12px;
}
  @media (max-width: 500px) {
    .removeOverflow{
      margin-bottom: 85px;
    }
  }
</style>
<button
  class="see-it-in-action-video t4s-bl-item t4s-animation-none t4s-btn t4s-btn-custom t4s-pe-auto t4s-fnt-fm-inherit t4s-animation-none t4s-hidden-mobile-false t4s-btn-style-default t4s-btn-effect-default"
  data-open-mfp-video=""
  data-options="{&quot;type&quot;: &quot;youtube&quot;,&quot;vid&quot;: &quot;kUBUikJY-RM&quot;,&quot;autoplay&quot;: true,&quot;loop&quot;:true,&quot;accent_color&quot;:&quot;0e272d&quot;,&quot;srcDefault&quot;:&quot;https:\/\/cdn.shopify.com\/s\/files\/1\/0610\/5209\/2628\/files\/Share_your_brand_story_by_adding_a_video_to_your_store.mp4?v=1641630446&quot;, &quot;id&quot;:&quot;#tmp-video-template--15495132741701__video_popup_inline_i4h3qj&quot; }"
  style="--button-pd-lr:20px; position:initial; margin: 40px auto;"
>
  <span class="pdp-video-cta__icon"> </span>
   SEE IT IN ACTION 
</button>
