<style>
.product-showcase--desktop .product-showcase__wrapper {
  margin: 0 auto; }
.product-showcase--desktop .product-showcase {
  color: #fff;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant {
  width: 33.3%;
  max-width: 400px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.product-showcase--desktop .product-showcase__variants-wrapper {
  display: flex; }
.product-showcase--desktop .product-showcase__variants {
  display: flex;
  gap: 20px;
  width: 100%; }
.product-showcase--desktop .product-showcase__variant--details {
  height: 100%;
  position: relative;
  padding-bottom: 100px;
  margin-top: 20px; }
.product-showcase--desktop .product-showcase__variant--details img {
  position: absolute;
  left: 20px;
  top: 0; }
.product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--detail {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 25px;
  color: #fff;
  margin: 10px auto;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--detail-content {
  width: 135px;
  margin: 0 auto; }
.product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--detail p {
  margin-bottom: 0;
  color: #fff; }
.product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--atc-button {
  width: fit-content;
  display: flex;
  margin: 100px auto 40px; }
.product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--atc-button button {
  display: flex;
  padding: 8px 25px;
  border-radius: 10px;
  width: fit-content;
  margin-left: 25px;
  background: #43B049 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0;
  color: #fff;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant--price {
  width: 135px;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 30px;
  line-height: 37px;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant:nth-child(2) img, .product-showcase--desktop .product-showcase__variant:nth-child(3) img {
  width: 47px;
  max-height: 100%; }
.product-showcase--desktop .product-showcase__variant:nth-child(1) img {
  width: 37px;
  max-height: 100%; }
.product-showcase--desktop .product-showcase__variant--title {
  text-align: center;
  margin-top: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant--abbreviation {
  width: fit-content;
  margin: 0 auto 25px;
  font-size: 50px;
  line-height: 61px;
  opacity: 0.3;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__variant-properties {
  margin-top: 105px; }
.product-showcase--desktop .product-showcase__variant-properties p {
  color: #fff;
  margin-bottom: 50px;
  text-align: right;
  padding-right: 20px;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.85px;
  font-style: italic;
  white-space: nowrap;
  font-family: 'Proxima Nova'; }
.product-showcase--desktop .product-showcase__product-wrapper > h2, .product-showcase--desktop .product-showcase__product-wrapper > .h2 {
  letter-spacing: 1.85px;
  color: #FFFFFF;
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Proxima Nova'; }

.product-showcase--mobile .product-showcase__variant--detail-content {
  margin-top: 5px; }
.product-showcase--mobile .product-showcase {
  color: #fff;
  font-family: 'Proxima Nova'; }
.product-showcase--mobile .product-showcase__variant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.product-showcase--mobile .product-showcase__variants-wrapper {
  display: flex; }
  .product-showcase--mobile .product-showcase__variants-wrapper > h2, .product-showcase--mobile .product-showcase__variants-wrapper > .h2 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 1.3px; }
.product-showcase--mobile .product-showcase__variants {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column; }
.product-showcase--mobile .product-showcase__variant--details {
  height: 100%;
  position: relative;
  padding: 8px 25px;
  margin-top: 8px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  display: flex; }
  .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--details-inner {
    width: 70%;
    display: flex;
    gap: 20px; }
    .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--details-inner .product-showcase__variant--detail {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-family: 'Proxima Nova';
      margin-bottom: 0;
      color: #fff;
      font-size: 13px;
      line-height: 16px; }
      .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--details-inner .product-showcase__variant--detail .product-showcase__variant--detail-heading {
        margin-bottom: 0;
        color: #fff;
        opacity: 0.7;
        font-size: 12px;
        line-height: 15px;
        border-bottom: 1px solid #06272D;
        text-transform: uppercase;
        font-style: italic; }
      .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--details-inner .product-showcase__variant--detail p {
        margin-bottom: 0;
        color: #fff;
        font-size: 13px;
        line-height: 16px; }
  .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--atc-and-price {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Proxima Nova';
    gap: 8px; }
    .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--atc-and-price button {
      display: flex;
      padding: 6px;
      border-radius: 50%;
      width: fit-content;
      background-color: #43B049;
      border: 0;
      color: #fff; }
    .product-showcase--mobile .product-showcase__variant--details .product-showcase__variant--atc-and-price .product-showcase__variant--price {
      font-size: 13px;
      line-height: 16px;
      font-family: 'Proxima Nova'; }
.product-showcase--mobile .product-showcase__variant--details-inner .product-showcase__variant--detail p {
  margin-bottom: 0;
  color: #fff; }
.product-showcase--mobile .product-showcase__variant--abbreviation {
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 1.1px;
  color: #E4E5E6;
  opacity: 0.3;
  font-family: 'Proxima Nova'; }
.product-showcase--mobile .product-showcase__variant--title-and-image {
  display: flex; }
  .product-showcase--mobile .product-showcase__variant--title-and-image .product-showcase__variant--title {
    width: 45%;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Proxima Nova'; }
  .product-showcase--mobile .product-showcase__variant--title-and-image .product-showcase__variant--image {
    diplay: flex;
    width: 55%; }
    .product-showcase--mobile .product-showcase__variant--title-and-image .product-showcase__variant--image img {
      max-width: 100%; }
.product-showcase--mobile .product-showcase__product-wrapper > h2, .product-showcase--mobile .product-showcase__product-wrapper > .h2 {
  letter-spacing: 1.85px;
  color: #FFFFFF;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Proxima Nova'; }

  
</style>
<div id="shopify-section-product-showcase" class="shopify-section"><div class="product-showcase--desktop">
  <div class="product-showcase__wrapper">
    <div class="product-showcase__product-wrapper">
      <h2>GET THE PERFECT&nbsp;MATCH</h2>
      <div class="product-showcase__variants-wrapper">
        <div class="product-showcase__variant-properties">
          <p>CUP SIZE(S)</p>
          <p>MAT LENGTH</p>
          <p>RECOMMENDED SPACE</p>
        </div>
        <div class="product-showcase__variants">
          
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--title">V5-CM | Compact Edition</div>
            <div class="product-showcase__variant--details">
              <img src="//perfectpractice.com/cdn/shop/files/Artwork_19.svg?v=942343860274690212">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">2.56” (6.5 cm)</div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">8’ (2.4 m)</div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">Small Spaces</div>
                </div>
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391311429">Add to Cart</button>
                </div>
                <div class="product-showcase__variant--price">$159.99</div>
              </div>
            </div>
            <div class="product-showcase__variant--abbreviation">V5-CM</div>
          </div>
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--title">V5-ST | Standard Edition</div>
            <div class="product-showcase__variant--details">
              <img src="//perfectpractice.com/cdn/shop/files/Standard.svg?v=15223132247669860089">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content"><p>2.56” (6.5 cm)</p><p>3.35” (8.5 cm)</p></div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">9’6” (2.9 m)</div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">Standard Spaces</div>
                </div>
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391344197">Add to Cart</button>
                </div>
                <div class="product-showcase__variant--price">$179.99</div>
              </div>
            </div>
            <div class="product-showcase__variant--abbreviation">V5-ST</div>
          </div>
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--title">V5-XL | Extra Long Edition</div>
            <div class="product-showcase__variant--details">
              <img src="//perfectpractice.com/cdn/shop/files/XL.svg?v=6238646618583034066">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content"><p>2.56” (6.5 cm)</p><p>3.35” (8.5 cm)</p></div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">15’6” (4.8 m)</div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-content">Large Spaces</div>
                </div>
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391376965">Add to Cart</button>
                </div>
                <div class="product-showcase__variant--price">$199.99</div>
              </div>
            </div>
            <div class="product-showcase__variant--abbreviation">V5-XL</div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-showcase--mobile">
  <div class="product-showcase__wrapper">
    <div class="product-showcase__product-wrapper">
      <h2>GET THE PERFECT&nbsp;MATCH</h2>
      <div class="product-showcase__variants-wrapper">
        <div class="product-showcase__variants">
          
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--abbreviation">V5-CM</div>
            <div class="product-showcase__variant--title-and-image">
              <div class="product-showcase__variant--title">Compact Edition</div>
              <div class="product-showcase__variant--image"><img src="//perfectpractice.com/cdn/shop/files/compact-additional.svg?v=3506302793560044535"></div>
            </div>
            <div class="product-showcase__variant--details">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">CUP SIZE</div>
                  <div class="product-showcase__variant--detail-content">2.56” (6.5 cm)</div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">MAT LENGTH</div>
                  <div class="product-showcase__variant--detail-content">8’ (2.4 m)</div>
                </div>
              </div>
              <div class="product-showcase__variant--atc-and-price">
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391311429">
                    <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 8C10.7167 8 10.479 7.904 10.287 7.712C10.095 7.52 9.99934 7.28267 10 7V5H8C7.71667 5 7.479 4.904 7.287 4.712C7.095 4.52 6.99934 4.28267 7 4C7 3.71667 7.096 3.479 7.288 3.287C7.48 3.095 7.71734 2.99934 8 3H10V1C10 0.71667 10.096 0.479003 10.288 0.287003C10.48 0.0950034 10.7173 -0.000663206 11 3.46021e-06C11.2833 3.46021e-06 11.521 0.0960034 11.713 0.288003C11.905 0.480003 12.0007 0.717337 12 1V3H14C14.2833 3 14.521 3.096 14.713 3.288C14.905 3.48 15.0007 3.71734 15 4C15 4.28334 14.904 4.521 14.712 4.713C14.52 4.905 14.2827 5.00067 14 5H12V7C12 7.28334 11.904 7.521 11.712 7.713C11.52 7.905 11.2827 8.00067 11 8ZM6 21C5.45 21 4.979 20.804 4.587 20.412C4.195 20.02 3.99934 19.5493 4 19C4 18.45 4.196 17.979 4.588 17.587C4.98 17.195 5.45067 16.9993 6 17C6.55 17 7.021 17.196 7.413 17.588C7.805 17.98 8.00067 18.4507 8 19C8 19.55 7.804 20.021 7.412 20.413C7.02 20.805 6.54934 21.0007 6 21ZM16 21C15.45 21 14.979 20.804 14.587 20.412C14.195 20.02 13.9993 19.5493 14 19C14 18.45 14.196 17.979 14.588 17.587C14.98 17.195 15.4507 16.9993 16 17C16.55 17 17.021 17.196 17.413 17.588C17.805 17.98 18.0007 18.4507 18 19C18 19.55 17.804 20.021 17.412 20.413C17.02 20.805 16.5493 21.0007 16 21ZM6 16C5.23334 16 4.654 15.6707 4.262 15.012C3.87 14.3533 3.866 13.6993 4.25 13.05L5.6 10.6L2 3H1C0.71667 3 0.479003 2.904 0.287003 2.712C0.0950034 2.52 -0.000663206 2.28267 3.46021e-06 2C3.46021e-06 1.71667 0.0960034 1.479 0.288003 1.287C0.480003 1.095 0.717337 0.999337 1 1H2.65C2.83334 1 3.00834 1.05 3.175 1.15C3.34167 1.25 3.46667 1.39167 3.55 1.575L7.525 10H14.55L18.15 3.5C18.2333 3.35 18.35 3.229 18.5 3.137C18.65 3.045 18.8167 2.99934 19 3C19.3833 3 19.671 3.16267 19.863 3.488C20.055 3.81334 20.059 4.14234 19.875 4.475L16.3 10.95C16.1167 11.2833 15.8707 11.5417 15.562 11.725C15.2533 11.9083 14.916 12 14.55 12H7.1L6 14H17C17.2833 14 17.521 14.096 17.713 14.288C17.905 14.48 18.0007 14.7173 18 15C18 15.2833 17.904 15.521 17.712 15.713C17.52 15.905 17.2827 16.0007 17 16H6Z" fill="white"></path>
                    </svg>
                  </button>
                </div>
                <div class="product-showcase__variant--price">$159.99</div>
              </div>
            </div>
          </div>
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--abbreviation">V5-ST</div>
            <div class="product-showcase__variant--title-and-image">
              <div class="product-showcase__variant--title">Standard Edition</div>
              <div class="product-showcase__variant--image"><img src="//perfectpractice.com/cdn/shop/files/standard-additional.svg?v=1981528391178737931"></div>
            </div>
            <div class="product-showcase__variant--details">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">CUP SIZE</div>
                  <div class="product-showcase__variant--detail-content"><p>2.56” (6.5 cm)</p><p>3.35” (8.5 cm)</p></div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">MAT LENGTH</div>
                  <div class="product-showcase__variant--detail-content">9’6” (2.9 m)</div>
                </div>
              </div>
              <div class="product-showcase__variant--atc-and-price">
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391344197">
                    <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 8C10.7167 8 10.479 7.904 10.287 7.712C10.095 7.52 9.99934 7.28267 10 7V5H8C7.71667 5 7.479 4.904 7.287 4.712C7.095 4.52 6.99934 4.28267 7 4C7 3.71667 7.096 3.479 7.288 3.287C7.48 3.095 7.71734 2.99934 8 3H10V1C10 0.71667 10.096 0.479003 10.288 0.287003C10.48 0.0950034 10.7173 -0.000663206 11 3.46021e-06C11.2833 3.46021e-06 11.521 0.0960034 11.713 0.288003C11.905 0.480003 12.0007 0.717337 12 1V3H14C14.2833 3 14.521 3.096 14.713 3.288C14.905 3.48 15.0007 3.71734 15 4C15 4.28334 14.904 4.521 14.712 4.713C14.52 4.905 14.2827 5.00067 14 5H12V7C12 7.28334 11.904 7.521 11.712 7.713C11.52 7.905 11.2827 8.00067 11 8ZM6 21C5.45 21 4.979 20.804 4.587 20.412C4.195 20.02 3.99934 19.5493 4 19C4 18.45 4.196 17.979 4.588 17.587C4.98 17.195 5.45067 16.9993 6 17C6.55 17 7.021 17.196 7.413 17.588C7.805 17.98 8.00067 18.4507 8 19C8 19.55 7.804 20.021 7.412 20.413C7.02 20.805 6.54934 21.0007 6 21ZM16 21C15.45 21 14.979 20.804 14.587 20.412C14.195 20.02 13.9993 19.5493 14 19C14 18.45 14.196 17.979 14.588 17.587C14.98 17.195 15.4507 16.9993 16 17C16.55 17 17.021 17.196 17.413 17.588C17.805 17.98 18.0007 18.4507 18 19C18 19.55 17.804 20.021 17.412 20.413C17.02 20.805 16.5493 21.0007 16 21ZM6 16C5.23334 16 4.654 15.6707 4.262 15.012C3.87 14.3533 3.866 13.6993 4.25 13.05L5.6 10.6L2 3H1C0.71667 3 0.479003 2.904 0.287003 2.712C0.0950034 2.52 -0.000663206 2.28267 3.46021e-06 2C3.46021e-06 1.71667 0.0960034 1.479 0.288003 1.287C0.480003 1.095 0.717337 0.999337 1 1H2.65C2.83334 1 3.00834 1.05 3.175 1.15C3.34167 1.25 3.46667 1.39167 3.55 1.575L7.525 10H14.55L18.15 3.5C18.2333 3.35 18.35 3.229 18.5 3.137C18.65 3.045 18.8167 2.99934 19 3C19.3833 3 19.671 3.16267 19.863 3.488C20.055 3.81334 20.059 4.14234 19.875 4.475L16.3 10.95C16.1167 11.2833 15.8707 11.5417 15.562 11.725C15.2533 11.9083 14.916 12 14.55 12H7.1L6 14H17C17.2833 14 17.521 14.096 17.713 14.288C17.905 14.48 18.0007 14.7173 18 15C18 15.2833 17.904 15.521 17.712 15.713C17.52 15.905 17.2827 16.0007 17 16H6Z" fill="white"></path>
                    </svg>
                  </button>
                </div>
                <div class="product-showcase__variant--price">$179.99</div>
              </div>
            </div>
          </div>
          
          <div class="product-showcase__variant">
            <div class="product-showcase__variant--abbreviation">V5-XL</div>
            <div class="product-showcase__variant--title-and-image">
              <div class="product-showcase__variant--title">Extra Long Edition</div>
              <div class="product-showcase__variant--image"><img src="//perfectpractice.com/cdn/shop/files/xl-additional.svg?v=12077934200556223380"></div>
            </div>
            <div class="product-showcase__variant--details">
              <div class="product-showcase__variant--details-inner">
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">CUP SIZE</div>
                  <div class="product-showcase__variant--detail-content"><p>2.56” (6.5 cm)</p><p>3.35” (8.5 cm)</p></div>
                </div>
                <div class="product-showcase__variant--detail">
                  <div class="product-showcase__variant--detail-heading">MAT LENGTH</div>
                  <div class="product-showcase__variant--detail-content">15’6” (4.8 m)</div>
                </div>
              </div>
              <div class="product-showcase__variant--atc-and-price">
                <div class="product-showcase__variant--atc-button">
                  <button id="addToCart" data-product-id="40488391376965">
                    <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 8C10.7167 8 10.479 7.904 10.287 7.712C10.095 7.52 9.99934 7.28267 10 7V5H8C7.71667 5 7.479 4.904 7.287 4.712C7.095 4.52 6.99934 4.28267 7 4C7 3.71667 7.096 3.479 7.288 3.287C7.48 3.095 7.71734 2.99934 8 3H10V1C10 0.71667 10.096 0.479003 10.288 0.287003C10.48 0.0950034 10.7173 -0.000663206 11 3.46021e-06C11.2833 3.46021e-06 11.521 0.0960034 11.713 0.288003C11.905 0.480003 12.0007 0.717337 12 1V3H14C14.2833 3 14.521 3.096 14.713 3.288C14.905 3.48 15.0007 3.71734 15 4C15 4.28334 14.904 4.521 14.712 4.713C14.52 4.905 14.2827 5.00067 14 5H12V7C12 7.28334 11.904 7.521 11.712 7.713C11.52 7.905 11.2827 8.00067 11 8ZM6 21C5.45 21 4.979 20.804 4.587 20.412C4.195 20.02 3.99934 19.5493 4 19C4 18.45 4.196 17.979 4.588 17.587C4.98 17.195 5.45067 16.9993 6 17C6.55 17 7.021 17.196 7.413 17.588C7.805 17.98 8.00067 18.4507 8 19C8 19.55 7.804 20.021 7.412 20.413C7.02 20.805 6.54934 21.0007 6 21ZM16 21C15.45 21 14.979 20.804 14.587 20.412C14.195 20.02 13.9993 19.5493 14 19C14 18.45 14.196 17.979 14.588 17.587C14.98 17.195 15.4507 16.9993 16 17C16.55 17 17.021 17.196 17.413 17.588C17.805 17.98 18.0007 18.4507 18 19C18 19.55 17.804 20.021 17.412 20.413C17.02 20.805 16.5493 21.0007 16 21ZM6 16C5.23334 16 4.654 15.6707 4.262 15.012C3.87 14.3533 3.866 13.6993 4.25 13.05L5.6 10.6L2 3H1C0.71667 3 0.479003 2.904 0.287003 2.712C0.0950034 2.52 -0.000663206 2.28267 3.46021e-06 2C3.46021e-06 1.71667 0.0960034 1.479 0.288003 1.287C0.480003 1.095 0.717337 0.999337 1 1H2.65C2.83334 1 3.00834 1.05 3.175 1.15C3.34167 1.25 3.46667 1.39167 3.55 1.575L7.525 10H14.55L18.15 3.5C18.2333 3.35 18.35 3.229 18.5 3.137C18.65 3.045 18.8167 2.99934 19 3C19.3833 3 19.671 3.16267 19.863 3.488C20.055 3.81334 20.059 4.14234 19.875 4.475L16.3 10.95C16.1167 11.2833 15.8707 11.5417 15.562 11.725C15.2533 11.9083 14.916 12 14.55 12H7.1L6 14H17C17.2833 14 17.521 14.096 17.713 14.288C17.905 14.48 18.0007 14.7173 18 15C18 15.2833 17.904 15.521 17.712 15.713C17.52 15.905 17.2827 16.0007 17 16H6Z" fill="white"></path>
                    </svg>
                  </button>
                </div>
                <div class="product-showcase__variant--price">$199.99</div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .sticky-container{
    display: none !important;
  }
  .product-showcase--desktop .product-showcase__wrapper{
    max-width: 1700px;
  }
  .product-showcase--desktop{
    padding: 100px 30px 50px 30px;
    background: linear-gradient(180deg, rgba(20, 39, 44, 1) 20%, rgba(78, 108, 114, 1) 100%);
  }
  .product-showcase--mobile{
    padding: 30px 25px 60px 25px;
    background: linear-gradient(180deg, rgba(84, 107, 113, 1), rgba(39, 62, 67, 1) 42%, rgba(20, 39, 44, 1) 100%);
  }
  .product-showcase--desktop .product-showcase__variant{
    background-color: #0e272d;
  }
  .product-showcase--mobile .product-showcase__variant--details{
    background-color: #4e6c7266;
  }
  .product-showcase--desktop .product-showcase__variant--details-inner .product-showcase__variant--detail{
    background-color: #4e6c721A;
  }
  .product-showcase--mobile{
    display:none;
  }

  @media (max-width: 1024px){
    .product-showcase--desktop{
      display:none;
    }
    .product-showcase--mobile{
      display:block;
    }
  }
  @media (max-width: 767px){
    
  }
</style>

<script>
  const atcButtons = document.querySelectorAll('#addToCart');
  atcButtons.forEach((button) => {
    button.addEventListener('click', () => {
      let formData = {
       'items': [{
        'id': +button.dataset.productId,
        'quantity': 1
        }]
      };
      fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => {
        return response.json();
      })
      .then(() => {
        renderDrawer();
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    })
  })
</script>




</div>