<div style="background:white;padding-top:50px;" class="wrap_container">
<div timeline="" hdt-reveal="slide-in" class="t4s-top-heading t4s_des_title_1 t4s-text-center" style="--tophead_mb: 30px;" observed="" animationend=""><h3 class="t4s-section-title t4s-title"><span>Follow Our Instagram</span></h3>
</div>
<div
	class="yotpo yotpo-pictures-widget"
	data-gallery-id="642b535b59d3093bb1a87312">
</div>

<script type="text/javascript">
  var yotpoIsReady = false;
    (function checkForYotpo() {
        setTimeout(function() {
            if (typeof yotpo !== "undefined") {
                if (yotpo.initialized === true) {
                    yotpoIsReady = true;
                    yotpo.refreshWidgets();
                }
            } else {
                console.log('Checking for Yotpo...');
            }
            if (yotpoIsReady === false) checkForYotpo();
        }, 250);
    })();
</script>
  {% if template.name == 'page' %}
<style>
  @media (min-width: 1230px){
  .wrap_container{
    max-width: 1200px;
  }
  }
 
  .wrap_container{
    margin: auto;
    padding:0 30px;
  }
 
</style>
{% endif %}
{% schema %}
  {
    "name": "Customer Reviews",
    "settings": [],
  "presets": [
    {
      "name": "Customer Reviews",
      "category": "Social media"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
<script type="text/javascript">
  var yotpoIsReady = false;
    (function checkForYotpo() {
        setTimeout(function() {
            if (typeof yotpo !== "undefined") {
                if (yotpo.initialized === true) {
                    yotpoIsReady = true;
                    yotpo.refreshWidgets();
                }
            } else {
                console.log('Checking for Yotpo...');
            }
            if (yotpoIsReady === false) checkForYotpo();
        }, 250);
    })();
</script>
{% endjavascript %}

<!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 --><script type='text/javascript'>var _pix = document.getElementById('_pix_id_e5f78954-8209-3221-44ef-b6abcd568256');if (!_pix) { var protocol = '//'; var a = Math.random() * 1000000000000000000; _pix = document.createElement('iframe'); _pix.style.display = 'none'; _pix.setAttribute('src', protocol + 's.amazon-adsystem.com/iu3?d=generic&ex-fargs=%3Fid%3De5f78954-8209-3221-44ef-b6abcd568256%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://rangerready.com&ex-hargs=v%3D1.0%3Bc%3D8379393800501%3Bp%3DE5F78954-8209-3221-44EF-B6ABCD568256' + '&cb=' + a); _pix.setAttribute('id','_pix_id_e5f78954-8209-3221-44ef-b6abcd568256'); document.body.appendChild(_pix);}</script><noscript> <img height='1' width='1' border='0' alt='' src='https://s.amazon-adsystem.com/iui3?d=forester-did&ex-fargs=%3Fid%3De5f78954-8209-3221-44ef-b6abcd568256%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://rangerready.com&ex-hargs=v%3D1.0%3Bc%3D8379393800501%3Bp%3DE5F78954-8209-3221-44EF-B6ABCD568256' /></noscript>
</div>